<h1> Item Detail </h1>
<table>
  <tbody>
    <% unless @item.nil? %>
      <tr>
        <td>Item name</td>
        <td>:</td>
        <td><%= @item.name %></td>
      </tr>
      <tr>
        <td>Item price</td>
        <td>:</td>
        <td>Rp<%= @item.price %></td>
      </tr>
      <tr>
        <td>Item category</td>
        <td>:</td>
        <td><%= @item.category %></td>
      </tr>
    <% else %>
      <h3>There is no such item.</h3>
    <% end %>
  </tbody>
</table>